.form_style_operation_type > * {
    margin-bottom: 24px;
    width: 50%;
}

.form_style_operation_type {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.submit_margin_top {
    margin-top: 24px;
}