.navigation_style {
    text-align: center;
    font-size: 24px;
    /*height: 64px;*/
}

.link_item {
    color: greenyellow !important;
<<<<<<< HEAD
    margin-left: 96px;
=======
    margin-left: 86px;
>>>>>>> 90db70cf8106d62f5e72c4f8845037e80487f438
}