.navbar{
    width: 100%;
    text-align: justify-all;
}

.link_item {
    display: block;
    color: greenyellow !important;
    float: left;
    margin-left: 100px;
}

.first{
    min-width: 100px;
}

.float_container{
    float: left;
}